spring:
  application:
    name: myth-cloth-api

  datasource:
    url: jdbc:postgresql://localhost:5432/mythcloth
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true   # <- Pretty-print SQL
        show_sql: true     # <- Log SQL to console
        use_sql_comments: false # <- Adds Hibernate comments to queries

server:
  servlet:
    context-path: /api/v1

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE   # <- Shows query parameters